*{
    margin:0;
    padding:0;
}
body{
    background-image:url(background.jpg);
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}
.login-page{
    width:360px;
    padding:10% 0 0;
    margin:auto;
}
.form{
    position:relative;
    z-index:1;
    background:#000;
    max-width:360px;
    margin:0 auto 100px;
    padding:45px;
    text-align:center;
}